<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>login page </title>
    <head th:replace="layouts/mainlayout :: head(title = 'Login page')"/>
</head>
<body>

<ul th:replace="layouts/mainlayout :: nav"/>


<div align="center" class="mainBody">

    <h3 class="topText">Please enter your account details:</h3><br/>

    <form method="POST" th:action="@{/login}"  id="loginForm">
        <div class="form-group text-center">
            <label for="UserName">User name:</label>
            <input type="text" class="form-control" id="userName" name="username" aria-describedby="emailHelp" placeholder="Enter user name">
            <br/>
        </div>
        <div class="form-group text-center">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <div class="text-center" style="margin-top: 15px">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>

                <div th:if="${param.error}">
                    Invalid username and password.
                </div>
    </form>
</div>

<footer th:replace="layouts/mainlayout :: footer"/>
</body>
</html>