<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="layouts/mainlayout :: head(title = 'Players list')"/>
</head>
<body>

<ul th:replace="layouts/mainlayout :: nav"/>

<div class="jumbotron jumbotron-fluid">
    <div class="container" style="height: 80px">
        <div class="container text-center" >

            <h3>Search for a player's by:</h3>

            <form class="form-inline justify-content-center" method="GET" th:action="@{/players}" th:object="${SelectedPosition}">
                <label class="my-1 mx-2" for="inlineFormCustomSelectPref">Position</label>
                <select class="custom-select my-1 mx-sm-2" id="inlineFormCustomSelectPref" th:field="*{position}">
                    <option th:each="position : ${positions}"
                            th:text="${position.getPosition()}"
                            th:value="${position.getPosition()}"
                    </option>
                </select>
                <button type="submit" class="btn btn-primary my-1" value="Search">Search</button>
            </form>

        </div>
    </div>
</div>


<div class="container">
    <table class="table table-hover">

        <tr>
            <th>id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Position</th>
            <th>Age</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Spike height</th>
            <th>Block height</th>
            <th>Current club</th>
            <th>Contract expires</th>
        </tr>

        <tr th:each="player : ${players}">
            <td th:text="${player.id}">dadd</td>
            <td th:text="${player.first_name}">2525</td>
            <td th:text="${player.last_name}">sdfs</td>
            <td th:text="${player.position}">2525</td>
            <td th:text="${player.age}">dadd</td>
            <td th:text="${player.height}">2525</td>
            <td th:text="${player.weight}">sdfs</td>
            <td th:text="${player.spike_height}">dadd</td>
            <td th:text="${player.block_height}">2525</td>
            <td th:text="${player.current_club}" >sdfs</td>
            <td th:text="${player.contract_expires}">dadd</td>
        </tr>
    </table>
</div>

<footer th:replace="layouts/mainlayout :: footer"/>

</body>
</html>