<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/mainlayout :: head(title = 'Players list')"/>

<body>

<nav th:replace="layouts/mainlayout :: nav"/>

<br/>
<br/>

<div class="jumbotron profile">
    <h6 class="display-4 profileHeader">Your account information:</h6>
    <hr class="my-4">
    <ul class="list-group accountInfo">
        <li class="list-group-item"><b>User name:</b> <span th:text="${loggedUser.getUsername()}"></span></li>
        <li class="list-group-item"><b>First name:</b> <span th:text="${loggedUser.getFirst_name()}"></span></li>
        <li class="list-group-item"><b>Last name: </b> <span th:text="${loggedUser.getLast_name()}"></span></li>
        <li class="list-group-item"><b>Email adress: </b><span th:text="${loggedUser.getEmail()}"></span></li>
    </ul>
</div>

<br/>
<br/>

<div class="jumbotron profile">
    <h6 class="display-4 profileHeader">Description as a player:</h6>
    <hr class="my-4">
    <ul class="list-group accountInfo">
        <li class="list-group-item"><b>Position on court:</b> <span th:text="${loggedUser.getPosition()}"></span></li>
        <li class="list-group-item"><b>Age:</b> <span th:text="${loggedUser.getAge()}"></span></li>
        <li class="list-group-item"><b>Height:</b> <span th:text="${loggedUser.getHeight()}"></span></li>
        <li class="list-group-item"><b>Weight: </b> <span th:text="${loggedUser.getWeight()}"></span></li>
        <li class="list-group-item"><b>Spike height: </b><span th:text="${loggedUser.getSpike_height()}"></span></li>
        <li class="list-group-item"><b>Block height: </b><span th:text="${loggedUser.getBlock_height()}"></span></li>
        <li class="list-group-item"><b>Current club: </b><span th:text="${loggedUser.getCurrent_club()}"></span></li>
        <li class="list-group-item"><b>Contract expires: </b><span th:text="${loggedUser.getContract_expires()}"></span></li>
    </ul>
</div>





<footer th:replace="layouts/mainlayout :: footer"/>

</body>
</html>